pip==18.1
bumpversion==0.5.3
wheel==0.32.3
watchdog==0.9.0
flake8==3.6.0
tox==3.5.3
coverage==4.5.2
Sphinx==1.8.2
twine==1.12.1
click==7.0

astropy==3.0.3
numpy==1.16.1
bokeh==1.0.4
svo_filters==0.2.16
scipy==1.1.0
astroquery==0.3.9
hotsoss==0.1.5
# webbpsf==0.7.0
batman-package==2.4.6
# exoctk

pytest==4.0.0
pytest-runner==4.2
